<section class="w-full flex justify-center items-center gap-2 flex-col">
  <!-- filters -->
  <div class="flex justify-between items-center w-full">
    <input
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 w-2/6"
      placeholder="Search..."
      [formControl]="searchControl" />

    <button
      type="button"
      class="text-black bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
      (click)="handleNewProduct()">
      <i class="fa-solid fa-plus mr-2"></i>
      Default
    </button>
  </div>

  <!-- table -->

  <div class="w-full shadow-md sm:rounded-lg">
    <table class="w-full text-sm rtl:text-right text-left text-gray-500">
      <thead class="text-xs text-gray-700 bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-center">Logo</th>
          <th scope="col" class="px-6 py-3">Nombre Producto</th>
          <th scope="col" class="px-6 py-3">
            Descripción <i class="fa-solid fa-circle-info text-gray-400"></i>
          </th>
          <th scope="col" class="px-6 py-3">
            Fecha de Liberación
            <i class="fa-solid fa-circle-info text-gray-400"></i>
          </th>
          <th scope="col" class="p-3">
            Fecha de Reestructuración
            <i class="fa-solid fa-circle-info text-gray-400"></i>
          </th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b hover:bg-gray-50 text-left">
          <td class="px-6 py-4 text-center">White</td>
          <td class="px-6 py-4">White</td>
          <td class="px-6 py-4">White</td>
          <td class="px-6 py-4">White</td>
          <td class="px-6 py-4">White</td>
          <td class="px-6 py-4">
            <app-dropdown
              icon="fa-ellipsis-vertical"
              [options]="dropdownOptions()" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- pagination -->
  <div class="w-full">
    <app-pagination [dataSourceLen]="dataSource().length" />
  </div>
</section>
