<section class="w-full flex justify-center items-center gap-2 flex-col">
  <!-- filters -->
  <div class="flex justify-between items-center w-full">
    <input
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 w-1/4"
      placeholder="Search..."
      [formControl]="searchControl" />

    <app-button
      color="primary"
      icon="fa-plus"
      label="Agregar"
      (click)="handleNewProduct()" />
  </div>

  <!-- table -->

  <div class="w-full shadow-md sm:rounded-lg">
    <table class="w-full text-sm rtl:text-right text-left text-gray-500">
      <thead class="text-xs text-gray-700 bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-center">Logo</th>
          <th scope="col" class="px-6 py-3">Nombre Producto</th>
          <th scope="col" class="px-6 py-3">
            Descripción <i class="fa-solid fa-circle-info text-gray-400"></i>
          </th>
          <th scope="col" class="px-6 py-3">
            Fecha de Liberación
            <i class="fa-solid fa-circle-info text-gray-400"></i>
          </th>
          <th scope="col" class="p-3">
            Fecha de Reestructuración
            <i class="fa-solid fa-circle-info text-gray-400"></i>
          </th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        @for (product of dataSource(); track product.id) {
          <tr class="bg-white border-b hover:bg-gray-50 text-left">
            <td class="px-6 py-4 flex justify-center items-center">
              <a [href]="product.logo" target="_blank">
                <img
                  [width]="40"
                  [height]="40"
                  class="size-10 rounded-full"
                  [src]="product.logo"
                  [alt]="product.name" />
              </a>
            </td>
            <td class="px-6 py-4">{{ product.name | titlecase }}</td>
            <td class="px-6 py-4">{{ product.description }}</td>
            <td class="px-6 py-4">
              {{ product.date_release | date: 'dd/MM/yyyy' }}
            </td>
            <td class="px-6 py-4">
              {{ product.date_revision | date: 'dd/MM/yyyy' }}
            </td>
            <td class="px-6 py-4">
              <app-dropdown
                icon="fa-ellipsis-vertical"
                [options]="[
                  {
                    label: 'Editar Producto',
                    value: buildEditUrl(product.id),
                  },
                ]" />
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="6" class="text-center py-4">No hay productos</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- pagination -->
  <div class="w-full">
    <app-pagination [dataSourceLen]="dataSource().length" />
  </div>
</section>
