<section class="w-full flex justify-center items-center gap-2 flex-col">
  <!-- filters -->
  <div class="flex justify-between items-center w-full">
    <input
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 w-2/6"
      placeholder="Search..."
      [formControl]="searchControl" />

    <button
      type="button"
      class="text-black bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
      (click)="handleNewProduct()">
      <i class="fa-solid fa-plus mr-2"></i>
      Default
    </button>
  </div>

  <!-- table -->

  <div class="w-full relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Logo</th>
          <th scope="col" class="px-6 py-3">Nombre Producto</th>
          <th scope="col" class="px-6 py-3">
            Descripción <i class="fa-solid fa-circle-info text-gray-400"></i>
          </th>
          <th scope="col" class="px-6 py-3">
            Fecha de Liberación
            <i class="fa-solid fa-circle-info text-gray-400"></i>
          </th>
          <th scope="col" class="px-6 py-3">
            Fecha de Reestructuración
            <i class="fa-solid fa-circle-info text-gray-400"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b hover:bg-gray-50 text-center">
          <td class="px-6 py-4">White</td>
          <td class="px-6 py-4">White</td>
          <td class="px-6 py-4">White</td>
          <td class="px-6 py-4">White</td>
          <td class="px-6 py-4">White</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- pagination -->
  <footer class="w-full flex justify-center md:justify-between items-center">
    <span
      class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto"
      >Total de registros:
      <span class="font-semibold text-gray-900 dark:text-white">{{ 5 }} </span>
    </span>

    <div>
      <select
        class="rounded-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
      </select>
    </div>
  </footer>
</section>
